body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
    /* Light grey background */ 
}


header,
footer {
    background-color: #6200EA;
    /* Deep purple */
    color: #FFFFFF;
}

.active {
    color: black;
}
.image {
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
}

.nav-pills .nav-link.active,
.btn-primary {
    background-color: black;
    /* Teal */
}

.btn-primary:hover {
    background-color: #02656B;
    /* Darker teal */
}

.nav-link {
    color: #333333;
    /* For better contrast */
}

.center-align {
    text-align: center;
    display: flex;
}

.right-align {
    position: absolute;
    right: 0;
    text-align: right;  
}
/* Custom styles for a more Material-like look */
.card {
    margin-top: 20px;
}

.ripple-effect {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.ripple-effect:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
}

.ripple-effect:hover:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}

